
input[type="text"],
input[type=""password],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea {
  color: white;
}
body {
  color: white;
}
body {
  background-color: black;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
img {
  width: 100px;
  height: 100px;
  margin: 0;
}
img {
  position: absolute;
  left: 100px;
  top: 100px;
/*transform: translate(-50%, -50%);  пацентру типа*/
}
.element {
  background-color: black;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.telegram-message-input:focus {
  opacity: 0; /* Keep input bar hidden on focus */
}
#ticker {
  width: fit-content; /* Ширина бегущей строки */
  white-space: nowrap; /* Не переносить слова на новую строку */
  position: absolute; /* Позиционирование */
  top: 50%; /* Позиционирование по вертикали */
  left: -200%; /* Начальная позиция слева за экраном */
  transform: rotate(-45deg); /* Наклон 45 градусов */
  animation: ticker 5s linear infinite; /* Анимация */
  font-style: italic; /* Наклонить текст */
}

#ticker.is-visible {
  opacity: 1; /* Отобразить текст */
}

@keyframes ticker {
  0% {
    opacity: 0; /* Текст полностью прозрачный */
  }
  25% {
    opacity: 1; /* Текст полностью непрозрачный */
  }
  75% {
    opacity: 1; /* Текст полностью непрозрачный */
  }
  100% {
    opacity: 0; /* Текст полностью прозрачный */
  }
}
